/* font import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
/* global css style */
*{
  margin: 0;
  padding: 0;
}
body{
  font-style: normal;
  color: #3a3a3a;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
a{
  color: #3a3a3a;
  text-decoration: none;
}
img{
  max-width: 100%;
}
.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}
.container-big{
  max-width: 1047px;
  margin: 0 auto;
  padding: 0 20px;
}
.d-flex{
  display: flex;
}
.align-items-center{
  align-items: center;
}
.align-items-start{
  align-items: flex-start;
}
.flex-colume{
  flex-direction: column;
}
.align-items-end{
  align-items: flex-end;
}
.justify-content-ceter{
  justify-content: center;
}
.d-grid{
  display: grid;
}
.justify-items-center{
  justify-items: center;
}
.grid-colume-2{
  grid-template-columns: repeat(2, 1fr);
}
.grid-colume-3{
  grid-template-columns: repeat(3, 1fr);
}
.grid-colume-7{
  grid-template-columns: repeat(7, 1fr);
}
.grid-colume-gap{
  grid-column-gap: 30px;
}
.grid-row-gap{
  grid-row-gap: 30px
}
.rounded{
  border-radius: 5px;
}
.btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background: #E02C6D;
  padding: 10px 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  border: 1px solid;
  border-color: #E02C6D;
  width: 147px;
  animation: a9 1.2s infinite linear alternate;
  transition: all .4s;
}
@keyframes a9 {
  0%   {transform: translate(-10px)}
  100% {transform: translate( 30px)}
}
.btn:hover{
  color: #E02C6D;
  background-color: transparent;
}
.h1{
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 70px;
}
.h2{
  font-weight: 700;
  font-size: 38px;
  line-height: 60px;
}
.h3{
  font-weight: 600;
  font-size: 28px;
  line-height: 70px;
}
.h4{
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
}
.h6 {
  font-family: 'Inter', sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
}
.p{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
i.fas.fa-arrow-right {
  margin-left: 10px;
  font-size: 17px;
}
/* header navigation css */
.navbar {
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: flex;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}
.nav-links{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
#chkToggle {
  display: none;
}
.nav-links img {
  height: 29px;
  width: 28px;
}
#chkToggle:checked + ul.main-nav {
  display: block;
}


@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 80px;
    align-items: center;
  }

  #chkToggle:checked + ul.main-nav {
    display: flex;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 30px;
    display: flex;
    align-items: center;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }
}
.nav-links:hover {
  color: rgba(0, 0, 0, .6);
}

/* start journy css styles */
section.start-journy {
  padding: 80px 0;
}
.start-journy-info p.p {
  margin: 20px 0;
}
.main-image{
  width: 475px;
  margin: 0 auto;
}

/* brand logo css styles */
.brand-logo-inner {
  border: 0;
  border-bottom: 1px solid #C0CCDA;
  border-top: 1px solid #C0CCDA;
  padding: 36px 0;
}

/* feature product lists */
section.feature-product-list {
  padding: 80px 0;
}
.feature-product-heading {
  text-align: center;
  margin-bottom: 30px;
}
.feature-product-box {
  background: #FFFFFF;
  box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
  border-radius: 5px;
}
.feature-product-content {
  padding: 20px;
}
.feature-product-content h5{
  margin-top: 12px;
}
.review-star {
  margin: 8px 0;
}
i.fas.fa-star {
  color: #FB8200;
  font-size: 12px;
}
.review-star span {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  font-family: 'Roboto', sans-serif;
}
.feature-product-content p.p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.see-more-button {
  text-align: right;
  margin-top: 30px;
}
.see-more-button a.btn {
  margin-left:auto;
  background-color: transparent;
  color: #E02C6D;
  border-color: transparent;
}
/* faq section css */
section.main-faq-section {
  background-color: #fff;
  padding: 0 0 80px;
}
.main-faq{
  overflow: hidden;
  width: 70%;
  margin: 0 auto;
}
.text-center{
  text-align: center;
}
.faq-heading.text-center {
  margin-bottom: 30px;
}
.main-tab {
  margin-top: 15px;
}
.main-faq .main-tab-toggle{
  display: none;
}
.main-faq .main-tab-label{
  background-color: #E02C6D;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.main-faq .main-tab-label:hover{
  background-color: #8f224a;
}
.main-faq .main-tab-toggle:checked ~ .main-tab-label{
  border-radius: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #8f224a;
}
.main-faq .main-tab-label::after{
  content: '\276F';
  transition: all .4s;
}
.main-faq .main-tab-toggle:checked ~ .main-tab-label::after{
  transform: rotate(90deg);
}
.main-faq .main-tab-content{
  background-color: #3a3a3a;
  border-radius: 8px;
  max-height: 0px;
  overflow: hidden;
  transition: all .4s;
  padding: 0 1em;
  text-align: left;
}
.main-faq .main-tab-content p{
  
  color: #fff;
  
}
.main-faq .main-tab-toggle:checked ~ .main-tab-content{
  border-radius: 0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  max-height: 100vh;
  padding: 1em;

}

/* footer section css styles */
footer {
  background-color: #0A0826;
  padding: 50px 0;
}.footer-content {
  text-align: center;
  color: #fff;
}
.footer-content h2.h2 {
  margin-bottom: 15px;
}
.footer-content p.p:nth-child(3) {
  margin-bottom: 15px;
}
ul.social-inner {
  display: flex;
  list-style: none;
  justify-content: center;
}
li.social-items {
  margin-right: 15px;
}
a.sicial-link {
  color: #fff;
}
.sicial-link i {
  font-size: 32px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #22213C;
  border-radius: 50%;
}

/* media query */
/* tab mobile  */
@media (min-width:767px) and (max-width:1024px){
  .grid-row-gap {
    grid-row-gap: 15px;
}

.grid-colume-gap {
    grid-column-gap: 15px;
}
.grid-colume-3 {
  grid-template-columns: repeat(2, 1fr);
}
label.main-tab-label.h4 {
  font-size: 22px;
  line-height: 32px;
}
.h1 {
  font-size: 35px;
  line-height: 45px;
}
}
@media (max-width: 767px){
  section.start-journy {
    padding: 40px 0;
}
  .grid-colume-3 {
    grid-template-columns: repeat(1, 1fr);
}
.grid-colume-2 {
    grid-template-columns: repeat(1, 1fr);
}
.h1 {
  font-size: 30px;
  line-height: 40px;
}
.h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
}
.p {
  font-size: 14px;
  line-height: 24px;
}
.main-faq {
  width: 95%;
}
label.main-tab-label.h4 {
  font-size: 16px;
  line-height: 26px;
}
.navbar-toggle {
  color: #3a3a3a;
}
.logo {
  margin-top: 18px;
}
}